---
import { Header, GistList } from "../components/index";
``
import Layout from "../components/layouts/index.astro";
import Footer from "../components/footer/index.astro";
import { AiOutlineArrowRight } from "solid-icons/ai";
---

<Layout title="GuestBook">
  <main class="container mx-auto max-w-2xl flex-1 px-6">
    <section class="mb-16">
      <h2 class="mb-4 text-2xl md:text-3xl">My Notes</h2>
      <GistList client:idle/>
    </section>
  </main>
  <Footer />
</Layout>
