---
import { Comment, Header } from "../components/index";
import Layout from "../components/layouts/index.astro";
import Footer from "../components/footer/index.astro";
---

<Layout title="GuestBook">
  <main class="container mx-auto max-w-2xl flex-1 px-6">
    <Comment />
  </main>
  <Footer />
</Layout>
