---
import Layout from "../components/layouts/index.astro";
import Footer from "../components/footer/index.astro";
import { ProjectList, Header } from "../components/index";
import ProfilePic from "/profile.webp";
import {
  AiFillGithub,
  AiFillLinkedin,
  AiFillTwitterCircle,
} from "solid-icons/ai";
import { SiBuymeacoffee } from "solid-icons/si";

const techStack = [
  {
    text: "Javascript",
  },
  {
    text: "Typescript",
  },
  // {
  //   text: "Golang",
  // },
  {
    text: "React.js",
  },
  {
    text: "Next.js",
  },
  {
    text: "Vue.js",
  },
  {
    text: "Solid.js",
  },
  {
    text: "RadixUI",
  },
  {
    text: "Tailwind",
  },
  // {
  //   text: "GSAP",
  // },
  // {
  //   text: "Playwright",
  // },
  {
    text: "GraphQL",
  },
  // {
  //   text: "Express.js",
  // },
  // {
  //   text: "Postgres",
  // },
  {
    text: "Strapi",
  },
  {
    text: "Supabase",
  },
  {
    text: "Docker",
  },
];
---

<Layout title="Portfollio">
  <Header home />
  <main class="container mx-auto max-w-2xl flex-1 px-6">
    <!-- profile -->
    <section class="mb-16 flex flex-col gap-8 md:flex-row-reverse md:gap-14">
      <div class="w-[100px] md:w-[400px]">
        <img
          src={ProfilePic}
          alt="profile_pic"
          class="aspect-square"
          width="200"
          height="200"
        />
      </div>

      <div>
        <h1 class="text-3xl font-bold text-white md:text-4xl">
          Kenneth Racelis
        </h1>
        <p class="mb-4 text-base text-gray-200">Front-End Developer</p>
        <p class="text-gray-400">
          Elevating Web Experiences with Expertise and Ingenuity | Unwavering
          Commitment to Quality, Performance, and Continuous Learning.
        </p>
      </div>
    </section>
    <section class="mb-16">
      <div class="logoslider">
        <ul>
          {
            techStack.map((tech) => (
              <li>
                <p class="text-lg text-gray-400 hover:text-gray-100">
                  {tech.text}
                </p>
              </li>
            ))
          }
        </ul>
        <ul>
          {
            techStack.map((tech) => (
              <li>
                <p class="text-lg text-gray-400 hover:text-gray-100">
                  {tech.text}
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <section class="mb-16">
      <h2 class="mb-4 text-2xl md:text-3xl">Projects</h2>
      <ProjectList client:idle />
    </section>
    <section class="mb-16">
      <h3 class="mb-4 text-2xl md:text-3xl">Get in Touch</h3>
      <p class="text-gray-400">
        If you want to work together, Don't hesitate to contact me.
      </p>
      <a
        class="mb-4 inline-block text-gray-400 underline transition duration-300 ease-out hover:text-white"
        href="mailto:racelisjk@gmail.com"
        aria-label="email">racelisjk@gmail.com</a
      >
      <div class="flex gap-3">
        <a
          href="https://github.com/K3ndev"
          target="_blank"
          class="text-xl transition duration-300 ease-out hover:scale-125"
          aria-label="github"><AiFillGithub /></a
        >
        <a
          href="https://www.linkedin.com/in/jkenneth-racelis/"
          target="_blank"
          class="text-xl transition duration-300 ease-out hover:scale-125"
          aria-label="linkedin"><AiFillLinkedin /></a
        >
        <a
          href="https://twitter.com/k3n_dev"
          target="_blank"
          class="text-xl transition duration-300 ease-out hover:scale-125"
          aria-label="twitter"><AiFillTwitterCircle /></a
        >
        <a
          href="https://www.buymeacoffee.com/K3ndev"
          aria-label="coffee"
          target="_blank"
          class="text-xl transition duration-300 ease-out hover:scale-125"
          ><SiBuymeacoffee /></a
        >
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<!-- todo  https://web.dev/use-srcset-to-automatically-choose-the-right-image/ -->

<style>
  /* logo animation */
  .logoslider {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .logoslider ul {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: logoslider 20s linear infinite;
  }
  .logoslider li {
    padding: 0 15px;
  }

  @keyframes logoslider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
